<h1>How Does Weather Affect Bicyclists?</h1>
<div>
<% if @citibikes || @weathers %>
  Date: <%= @date %><p>
  <% if @citibikes == [] %>
    There is no Citibike data for this date!<p>
  <% else %>
    <% @citibikes.each do |citibike|%>
      Total Trips: <%= citibike.trips %><p>
      Total Miles: <%= citibike.miles %><p>
    <% end %>
  <% end %>
  <% if @weathers == [] %>
    There is no Weather data for this date!<p>
  <% else %>
    <% @weathers.each do |weather|%>
      Precipitation (inches): <%= weather.precipitation %><p>
      High Temperature (&#176;F): <%= weather.tmax %><p>
      Low Temperature (&#176;F): <%= weather.tmin %><p>
    <% end %>
  <% end %>
  <%= button_to "Search Again", root_path, method: "get" %>
<% else %>
  <h3>Input a date to find out:</h3>
  <%= form_tag(root_path, method: "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "DD/MM/YEAR" %>
    <%= submit_tag "Search" %>
  <% end %>
<% end %>
</div>
<br />
<div>
<h4>Import NYC Citibike CSV File:</h4>
<!--multipart will pull the file information  -->
  <%= form_tag import_citibikes_path, multipart: true do %>
    <%= file_field_tag :citibike_file %>
    <%= submit_tag "Import Citibike CSV" %>
  <% end %>
</div>

<div>
<h4>Import NYC Weather CSV File:</h4>
  <%= form_tag import_weathers_path, multipart: true do %>
    <%= file_field_tag :weather_file %>
    <%= submit_tag "Import Weather CSV" %>
  <% end %>
</div>
