<h1>Weather Information</h1>
<%= flash[:notice] %><p>
<% if @weathers == nil || @weathers.empty? %>
  <h3>No Weather Information to Display!</h3>
<% else %>
  <%= button_to "Clear Weather Data", weathers_path, method: "delete" %>
  <br />
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Precipitation</th>
        <th>Temperature High</th>
        <th>Temperature Low</th>
      </tr>
    </thead>
    <tbody>
      <% @weathers.each do |weather| %>
        <tr>
          <td><%= weather.date %></td>
          <td><%= weather.precipitation %></td>
          <td><%= weather.tmax %></td>
          <td><%= weather.tmin %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
