<!DOCTYPE html>
<html>
  <head>
    <title>BikeWeather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %><p>
    <%= link_to 'See Citibike Data', citibikes_path, method: "get" %><p>
    <%= link_to 'See Weather Data', weathers_path, method: "get" %>
    <%= yield %>
  </body>
</html>
